apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bootcamp-autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: bootcamp-app
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50 #Si pasa del 50% del uso -> Escala
