apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bootcamp-autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: taylinn
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 20 # Si pasa del 20% de los 50m pedidos -> Escala