name: DevOps Master - 2 Environments (Sandbox)

# 1. DISPARADORES (Cuándo se ejecuta esto)
on:
  push:
    branches: [ "develop" ] # Ramas que van a DEV
    tags: [ "v*" ]                   # Tags (v1.0) que van a PRO (Stage)
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Botón manual

# 2. TRABAJOS (Jobs)
jobs:
  # --- FASE 1: CI & BUILD (Construir imagen) ---
  ci-and-build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Tests
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Tests & Coverage
        run: |
          pip install -r requirements.txt
          pytest --cov=app --cov-report=xml test_app.py

      # SonarCloud
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # Login en GitHub Registry
      - name: Log in to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Generar etiquetas para Docker
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/taylinn
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      # Construir y subir imagen
      - name: nometiroeructostanseguidocochinotusi
        run: echo "creo tal vez si tal vez noooo"
      
      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  # --- FASE 2: DESPLIEGUE A DEV (Proyecto taylinn-dev) ---
  # Se ejecuta si hacemos push a 'develop'
  deploy-dev:
    needs: ci-and-build
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v4
      
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with: { oc: "4" }

      - name: Log in to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          # OJO: Pon aquí tu proyecto real de desarrollo
          namespace: taylinn-dev

      - name: Helm Deploy Dev
        run: |
          # Usamos values-dev.yaml
          helm upgrade --install taylinn ./mi-chart \
            -f ./mi-chart/values-dev.yaml
            
  # --- FASE 3: DESPLIEGUE A PRO (Proyecto taylinn-stage) ---
  # Se ejecuta SOLO si creas un TAG (ej: v1.0.0)
  deploy-pro:
    needs: ci-and-build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with: { oc: "4" }

      - name: Log in to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          # OJO: Usamos el entorno 'stage' como si fuera PRO
          namespace: taylinn-stage

      - name: Helm Deploy Pro
        run: |
          # Usamos values-pro.yaml pero inyectando la versión del tag
          VERSION=${GITHUB_REF#refs/tags/}
          helm upgrade --install bootcamp-pro ./mi-chart \
            -f ./mi-chart/values-pro.yaml \
            --set image.tag=$VERSION