name: DevOps Bootcamp - Full Cycle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # --- FASE 1: CALIDAD ---
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Necesario para Sonar
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies & Test
        run: |
          pip install -r requirements.txt
          # Generamos reporte de cobertura para Sonar
          pytest --cov=app --cov-report=xml test_app.py

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # --- FASE 2: EMPAQUETADO ---
  build-push:
    needs: quality-check
    if: github.event_name == 'push' # Solo si es un push (no en PRs)
    runs-on: ubuntu-latest
    permissions: 
      packages: write
      contents: read
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/saronos/taylinn:latest

  # --- FASE 3: SIMULACIÓN DE DESPLIEGUE ---
  deploy-dry-run:
    needs: build-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check Kubernetes Manifests
        run: |
          echo "Verificando sintaxis de ficheros K8s..."
          # Aquí podríamos usar herramientas como 'kubeval'
          ls -l k8s/
          echo "Listo para aplicar en OpenShift con: oc apply -f k8s/"
